<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">1) Look All models in base in mode list,form, pivot</h2>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="img01-1.png">
            </div>
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="img01-2.png">
            </div>
        </div>
    </div>
</section>

<div class="oe_row oe_spaced">
    <div class="oe_bg_img oe_centered">
        <img class="oe_picture" src="img01-3.png">
    </div>
    <p class='oe_slogan'>
        List view
    </p>
</div>

<div class="oe_mt32 oe_mb64">
    <img class="oe_picture oe_screenshot" src="img01-4.png">
    <p class='oe_slogan'>
        Form view
    </p>
</div>

<div class="oe_row oe_spaced">
    <div class="oe_bg_img oe_centered">
        <img class="oe_picture" src="img01-5.png">
    </div>
    <p class='oe_slogan'>
        Execute SQL .
    </p>
</div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">2) Widget format:</h2>
        <div>
            <img class="oe_picture oe_screenshot" src="img02-1.png">
        </div>
        <div>
            <img class="oe_picture oe_screenshot" src="img02-2.png">
        </div>
    </div>
</section>


<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">3) Extend systrayMenu:</h2>
        <div class='oe_mt32 text-justify'>
        </div>
        <div>
            <img class="oe_picture oe_screenshot" src="img03-1.png">
        </div>
        <div class=>
            <img class="oe_picture oe_screenshot" src="img03-3.png">
        </div>
        <p class='oe_slogan'>
            Products
        </p>
        <div>
            <img class="oe_picture oe_screenshot" src="img03-2.png">
        </div>
        <div>
            <img class="oe_picture oe_screenshot" src="img03-4.png">
        </div>
    </div>
    <p class='oe_slogan'>
        Quotations
    </p>
    </div>
</section>

<section class="oe_container oe_separator">
</section>
