.openerp {
color: #222;
}
.openerp .oe_list_editable .oe_form .oe_form_field input {
  padding: 0 4px !important;
}
.openerp thead th {
  text-align: center;
}
.gray {
background-color:F0F0F0;
}
.gray_sub {
background-color:C5C9C9;
}
/* Colored Columns  !!! */
.oe_list_header_columns [data-id="qty_to_quote_fract"] {color: blue;}
.oe_list_content [data-field="qty_to_quote_fract"] {text-align: right;} /* column line */
.oe_list_content [data-field="qty_in_stock"] {text-align: right;}
